---
import './ResumeButton.scss'
---

<div class="resume-button">
    <a href="#" class="resume-button__link">
        <span class="resume-button__text">Resume</span>
        <div class="resume-button__icon-wrapper">
            <svg class="resume-button__icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <path d="M12 15V3"></path>
                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                <path d="m7 10 5 5 5-5"></path>
            </svg>
        </div>
    </a>
</div>