@use "../../styles/mixins.scss";

.resume-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;

  &__link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    border: 1px solid var(--border);
    background: var(--bg);
    @include mixins.backdrop-blur(4px);
    text-decoration: none;
    @include mixins.transition(all, background, border-color, box-shadow, transform);
    transition-duration: 200ms;

    &:hover {
      //background: rgba(var(--color-white), 0.1);
      //border-color: rgba(var(--color-cyan-500), 0.4);
      //box-shadow: 0 0 15px rgba(var(--color-cyan-500), 0.15);
      transform: translateY(-0.25rem);
    }
  }

  &__text {
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--text-muted);
    letter-spacing: 0.3px;
    text-transform: uppercase;
  }

  &__icon-wrapper {
    background: var(--border-muted);
    border-radius: 9999px;
    padding: 4px;
    @include mixins.transition(background);
  }

  &__icon {
    width: 0.875rem;
    height: 0.875rem;
    color: var(--text-muted);
    @include mixins.transition(color);
  }
}