@use '../../styles/_mixins.scss';
@use '../../styles/media.scss';

.projects {
  position: relative;
  padding: 80px 0;

  &__container {
    display: flex;
    flex-direction: column;
    padding-inline: 24px;
    gap: 24px;
  }

  &__header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    font-size: 48.83px;
    font-weight: 400;
    font-family: var(--font-secondary), sans-serif;
    color: var(--text-light);
    line-height: 64px;

    @include media.mobile-s-above{
      white-space: nowrap;
    }

    @include media.mobile {
      font-size: 40px;
    }
  }

  &__subtitle {
    color: var(--text-muted);
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    font-family: var(--font-family), sans-serif;
  }
}

.project {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;

  @include media.tablet {
    flex-direction: column;
    align-items: center;
  }

  &__preview {
    border-radius: 12px;
    border: 1px solid var(--border);
  }

  &__info {
    max-width: 600px;
    border-radius: 12px;
    border: 1px solid var(--border);
    background: var(--bg);

    &-head {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
    }
  }

  &__container {
    padding-inline: 24px;

    @include media.mobile-s {
      padding-inline: 16px;
    }
  }

  &__title {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 56px;
    font-family: var(--font-secondary), sans-serif;
    color: var(--text-light);
  }

  &__desc {
    color: var(--text-muted);
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.25px;
    text-align: center;
    padding-inline: 24px;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
  }

  &__action {
    width: 160px;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--font-secondary), sans-serif;
    line-height: 26px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 22px;
  }

  &__detail {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;

    &-label {
      color: var(--text-muted);
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1.25px;
    }

    &-value {
      color: var(--text-light);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.25px;
      display: block;
    }

    &--extended {
      padding: 16px 24px;
      border-top: 1px solid var(--border-muted);
      background: rgba(23, 23, 23, 0.10);

    }

    &-list {
      color: var(--text-light);
      font-size: 1rem;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.25px;
      list-style-type: disc;
    }
  }

  &__tech {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding-block: 24px;

    &-item {
      padding: 8px 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 24px;
      border: 1px solid var(--border);
      background: var(--bg-light);
      color: var(--text-light);
      font-family: var(--font-secondary),sans-serif;
      font-size: 12px;
      font-weight: 500;
      line-height: 15px;
      letter-spacing: 0.25px;
      box-shadow: 0 1px 2px 0 rgba(145, 158, 171, 0.12);
    }
  }

}

.primary {
  background: var(--primary-color);
  color: var(--text-dark);

  &:hover {
    scale: 1.05;
    transition-duration: 200ms;
  }
 }

.secondary {
  border: 1px solid var(--secondary-color);
  color: var(--text-light);

  &:hover{
    scale: 1.05;
    background: var(--secondary-color);
    color: var(--text-dark);
    transition-duration: 200ms;
  }
}

.swiper {
  max-width: 750px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media.tablet {
    max-width: 650px;
  }

  @include media.mobile {
    width: 475px;
  }

  @include media.mobile-s {
    max-width: 400px;
    width: 100%;
  }
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.project__preview-video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;


}