@font-face {
  font-family: 'JetBrains Mono';
  src: url('web-portfoliov2/src/assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('web-portfoliov2/src/assets/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}