@use 'mixins';
@use 'media';

html {
  box-sizing: border-box;
  /* NU pune max-width aici! */
}

*, *::before, *::after {
  box-sizing: inherit;       // propagate box-sizing
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration-fast);
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  //@include mixins.fluid-text(18, 16);
  font-family: var(--font-inter),sans-serif;
  background-color: var(--color-brand-void);
  color: var(--color-white);
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  width: 100%;

}

::selection {
  background-color: rgba(var(--color-brand-purple), 0.3);
  color: var(--color-white);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-dark-bg);
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 3px;

  &:hover {
    background: #475569;
  }
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.perspective-1000 {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

body.has-focus {
  #hero-scene > div:first-child {
    opacity: 0.3;
    filter: blur(2px);
    pointer-events: none;
    transition: all 0.5s;
  }

  #tilt-wrapper {
    transition: transform 0.8s cubic-bezier(0.2, 0.8, 0.2, 1) !important;
  }
}