@use 'mixins';
@use 'media';

.container {
  max-width: var(--container-width-default);
  margin-inline: auto;
  width: 100%;
}

.visually-hidden {
  @include mixins.visually-hidden;
}

.hidden-mobile {
  @include media.mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include media.mobile-above {
    display: none !important;
  }
}