:root {
  --container-width-default: 1232px;
  --container-padding-x: 104px;
  --section-padding-y: 80px;

  //Fonts
  --font-family: 'Inter', sans-serif;
  --font-secondary: 'Space Grotesk', sans-serif;

  //Color
  --bg-dark: #030303;
  --bg: #0A0A0A;
  --bg-light: #171717;

  --text-dark: #000000;
  --text-light : #F2F2F2;
  --text-muted: #B0B0B0;

  --highlight: #636363;
  --border: #474747;
  --border-muted: #2E2E2E;

  --primary-color: #B9B66A;
  --secondary-color: #AAA6ED;

  --danger-color: #BB928B;
  --warning-color: #A6A17D;
  --success-color: #85A894;
  --info-color: #8DA0BF;

  // 3d scene positions
  --node-backend-left: 55%;
  --node-cloud-top: 10%;
  --node-frontend-left: 15%;
  --node-api-right: 5%;
  --node-db-bottom: 5%;
}