@use '../../styles/_mixins.scss';
@use '../../styles/media.scss';

.tech-stack {
  position: relative;
  padding: 80px 0;
  display: flex;
  flex-direction: column;

  @include media.tablet {
    padding: 64px 0;
  }

  @include media.mobile {
    padding : 48px 0;
  }

  @include media.mobile-s {
    padding: 32px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding-inline: 24px;
    margin: 0 auto;
    max-width: 1152px;
    align-self: stretch;
    width: 100%;
    gap: 24px;
  }

  &__header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    font-size: 48.83px;
    font-weight: 400;
    font-family: var(--font-secondary), sans-serif;
    color: var(--text-light);
    line-height: 64px;

    @include media.mobile-s-above{
      white-space: nowrap;
    }

    @include media.mobile {
      font-size: 40px;
    }
  }

  &__subtitle {
    color: var(--text-muted);
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    font-family: var(--font-family), sans-serif;
  }

  &__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  &__filter {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 9999px;
    border: 1px solid var(--border);
    background: var(--bg);

    font-size: 14px;
    font-weight: 400;
    color: var(--text-muted);
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    @include mixins.transition(color,border-color,background);
    transition-duration: 300ms;

    &:hover {
      color: var(--text-light);
      border-color: var(--text-light);
    }

    &--active {
      background: var(--bg-light);
      color: var(--text-light);
      border-color: var(--highlight);
    }
  }

  &__grid {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(4,1fr);

    @include media.tablet {
      grid-template-columns: repeat(3,1fr);
    }

    @include media.mobile {
      grid-template-columns: repeat(2,1fr);
    }
  }
}

.tech-item {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  gap: 12px;
  justify-content: start;
  border-radius: 12px;
  color: var(--text-light);
  font-weight: 500;
  line-height: 20px;
  opacity: 0;
  border: 1px solid var(--border-muted);
  background: var(--bg-dark);
  @include mixins.backdrop-blur(4px);
  cursor: default;
  translate: 0 10px;
  @include mixins.transition(opacity, transform, border-color, box-shadow);
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &.hidden {
    display: none;
  }

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  &:hover {
    scale: 1.02;
    border-color: var(--secondary-color);

    .tech-item__name {
      color: var(--text-light);
    }
  }

  &__icon {
    width: 1.25rem;
    height: 1.25rem;
    color: var(--text-muted);
  }

  &__name {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-muted);
    @include mixins.transition(color);
  }
}
