.contact {
  z-index: var(--z-content);

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; // Adaugă acest rând pentru a centra formularul
  }

  &__header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 48px;
  }

  &__title {
    font-size: 36px;
    font-weight: 600;
    color: var(--color-white);
    letter-spacing: -0.9px;
  }

  &__subtitle {
    color: var(--color-gray-400);
    font-weight: 300;
    font-size: 16px;
  }

  &__form {
    display: flex;
    padding: 32px;
    align-items: start;
    // align-self: stretch; // ȘTERGE ACEST RÂND
    gap: 32px;
    border-radius: 16px;
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF0D;
    border: 1px solid #FFFFFF0D;
    width: fit-content; // Formularul se va adapta la conținut
    max-width: 622px; // 558px (field) + 64px (32px padding × 2)
  }

  &__field {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
    max-width: 558px;
    width: 100%;
  }
}