
.footer {
  z-index: var(--z-content);
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  background: rgba(var(--color-black), 0.4);
  //@include backdrop-blur(12px);
  padding-block: 32px;

  &__container {
    max-width: 1280px;
    margin: 0 auto;
    padding-inline: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__copyright {
    font-size: 12px;
    color: var(--color-gray-600);
    font-weight: 300;
    line-height: 16px;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__link {
    font-size: 12px;
    color: var(--color-gray-500);
    text-decoration: none;
    //@include transition(color);

    &:hover {
      color: var(--color-white);
    }
  }
}