---
import './Footer.scss'
---

<footer class="footer">
    <div class="footer__container container ">
        <p class="footer__copyright">© 2026 Daniel Mogoreanu. All rights reserved.</p>
        <div class="footer__links">
            <a href="#" target="_blank" class="footer__link">Twitter</a>
            <a href="https://www.linkedin.com/in/daniel-m-dev/" target="_blank" class="footer__link">LinkedIn</a>
            <a href="https://github.com/DanTheDev22" target="_blank" class="footer__link">GitHub</a>
            <a href="https://www.danielmogoreanu.com/" class="footer__link">Previous website version</a>
        </div>
    </div>
</footer>