@use '../../styles/mixins.scss';
@use '../../styles/media.scss';

.footer {
  position: relative;
  z-index: var(--z-content);
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  background: rgba(var(--color-black), 0.4);
  @include mixins.backdrop-blur(12px);
  padding-block: 32px;

  @include media.mobile {
    padding-block: 25px;
  }

  &__container {
    max-width: 1280px;
    margin: 0 auto;
    padding-inline: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media.mobile {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__copyright {
    font-size: 12px;
    color: var(--color-gray-600);
    font-weight: 300;
    line-height: 16px;

    @include media.mobile {
      font-size: 16px;
      text-align: center;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 24px;

    @include media.mobile-s {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__link {
    font-size: 12px;
    color: var(--color-gray-500);
    text-decoration: none;
    white-space: nowrap;
    @include mixins.transition(color);

    &:hover {
      color: var(--color-white);
    }

    @include media.mobile {
      font-size: 16px;
    }
  }
}