---
import '../styles/main.scss'
 import Header from '../components/Header/Header.astro'
 import Footer from "../components/Footer/Footer.astro";
import SocialLinks from "../components/SocialLinks/SocialLinks.astro";
import ResumeButton from "../components/ResumeButton/ResumeButton.astro";
import Background from "../components/Background/Background.astro";
---



<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Web portfolio</title>
	</head>
	<body>
		<!--<Background/>-->
		<Header></Header>
		<main>
			<slot/>
		</main>
		<Footer></Footer>
	<SocialLinks/>
	<ResumeButton/>
	</body>
</html>


